name: Build & Deploy Flutter APK to GitHub Pages

# on:
#   push:
#     branches:
#       - master
#   workflow_dispatch:
  
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

# permissions:
#   contents: write
#   pages: write
#   id-token: write

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.9"
          channel: "stable"

      - name: Flutter pub get
        run: flutter pub get
      
      - name: Decode keystor
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
      
      - name: Create key.properties
        run: |
          cat > android/key.properties <<EOF
          storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword=${{ secrets.KEY_PASSWORD }}
          keyAlias=${{ secrets.KEY_ALIAS }}
          storeFile=upload-keystore.jks
          EOF
      
      - name: create .env file for CI
        run: |
          cat > .env <<EOF
          API_URL=https://jagritjorhat.assam.gov.in/jagrit/flutter_server
          API_URL_EMULATOR=http://10.0.2.2:80/flutter_server
          USE_EMULATOR=false
          EOF

      - name: Build release APK
        run: flutter build apk --release
    
      - name: Upload APK to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          files: build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}


      # - name: Prepare site files
      #   run: |
      #     mkdir -p public
      #     cp build/app/outputs/flutter-apk/app-release.apk public/
      #     echo "<!DOCTYPE html><html><head><meta charset='utf-8'><title>Download App</title></head><body><h1>Download My Flutter App</h1><p><a href='app-release.apk'>Download APK</a></p></body></html>" > public/index.html

      # - name: Upload Pages artifact
      #   uses: actions/upload-pages-artifact@v3
      #   with:
      #     path: public

  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Deploy to GitHub Pages
  #       uses: actions/deploy-pages@v4
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.TOKEN }}
